div.ng{
	background-color: black
}

div.description{
	text-align: center;
	padding-top: 100px;
}

div.form-title{
	margin-top: 50px;
}
div.test{
	height: 100px;
}
input.form-control{
	width: 300px;
	display: inline-block;
}

/*div {
	font-family: Georgia,serif;
	text-align: inline-block;
}*/

div.title h2 {
	text-align: center;
	margin-top: 0px;
  	margin-bottom: 0px;
  	padding-top: 10px;
}

p {
	margin: 20px 0px 20px 0px;
}

span {
	margin: 0px 10px 0px 10px ;
}

button {
	margin: 0px 10px 0px 10px;
}

input{
	width: 400px;
	margin: 0px 10px 0px 10px;
}

form {
	height: 400px;
	width: 500px;
	display: block;
	text-align: center;
}

div.title{
	height: 50px;
	text-align: center;
	background-color: orange;
}

div.privacy{
	font-size: 8px;
	text-align: center;
}

div.header{
	height: 50px;
	/*background-color: #000000;*/
}

p.map{
	text-align: center;
}

table{
	margin: 0 auto;
	text-align: center;
}

div.address {
	display: block;
	margin: 20px 0px 20px 0px;
}

div.destination {
	display: block;
	margin: 20px 0px 20px 0px;
}

div.departure {
	display: block;
	margin: 20px 0px 20px 0px;
}

div.button {
	display: inline-block;
	margin: 20px 0px 20px 0px;
}


div.form_container {
	display: block;
	margin: auto;
	width: 500px;
	outline: 1px solid orange;
}

div.map_container {
	display: block;
	padding-top: 50px;
	width: 700px;
}

.angular-google-map-container {
	margin: auto;
	height: 400px; 
	width: 700px;
}
